!!!
%html
  %head
    %meta(charset="utf-8")

    / Always force latest IE rendering engine or request Chrome Frame
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    = partial 'branding/tokens'

    / Use title if it's in the page YAML frontmatter
    %title= data.me.contact.name

    = stylesheet_link_tag "normalize", "all"
    = javascript_include_tag  "all"

  %body
    %header
      %img.gravatar{ src: gravatar_url(data.me.contact.email) }
      %h1= I18n.t 'hello', name: %(<span class="name">#{data.me.contact.name}</span>)
      %p{ class: 'introduction' }= lorem.paragraph

    .toc
      %h1= I18n.t 'role', role: ''

      - roles = role_structure.keys
      %menu
        - roles.each_with_index do |role, index|
          %li{ class: role_class(roles, role) }
            %a{ href: "##{role}" }= I18n.t role, scope: 'roles'
        %li.links
          %a{ href: '#profiles' } Profiles
        %li.links
          %a{ href: '#contact' } Contact

    .main

      - role_structure.each do |key, providers|
        %section.user-role{ class: key }
          %h1
            %a{ name: key } I'm a #{key}

          - providers.each do |name, data|
            %section.info-provider{ class: name.downcase }
              %h1
                %a{ name: name.downcase, href: data[:url], target: '_blank' }= name

              %p.introduction= lorem.paragraph

              %section.slide
                %h1 activity
                %p= lorem.paragraph

              %section.slide
                %h1 index
                %p= lorem.paragraph


      %section.profiles
        %h1
          %a{ name: 'profiles' }
            Profiles
        %menu
          - profiles.each do |p|
            %li
              %a{ href: p[:target] }= p[:label]

      %section.contact
        %h1
          %a{ name: 'contact' }
            Contact
        %menu
          %li
            %a{ href: "mailto:#{data.me.contact.email}" }= data.me.contact.email
          %li
            %a{ href: '#' }= data.me.contact.phone

      %footer
        .vcard
          %button Download vCard

