!!!
%html
  %head
    %meta(charset="utf-8")

    / Always force latest IE rendering engine or request Chrome Frame
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    = partial 'branding/tokens'

    / Use title if it's in the page YAML frontmatter
    %title= data.me.profile.name

    = stylesheet_link_tag "normalize", "all"
    = javascript_include_tag  "all"

  %body
    %header
      %img.gravatar{ src: gravatar_url(data.me.profile.email) }
      %h1= I18n.t 'hello', name: %(<span class="name">#{data.me.profile.name}</span>)

    .toc
      %h2 I'm a

      %menu
        %li
          %a{ href: '#developer' } Developer
        %li
          %a{ href: '#artist' } Artist
        %li
          %a{ href: '#photographer' } Photographer
        %li
          %a{ href: '#gamer' } Gamer
        %li
          %a{ href: '#blogger' } Blogger

    .main

      %section.user-role.developer
        %h2
          %a{ name: 'developer' }
            I'm a Developer
        %menu
          %li
            %a{ href: '#' } Github
          %li
            %a{ href: '#' } Coderwall
          %li
            %a{ href: '#' } Node.js

      %section.user-role.artist
        %h2
          %a{ name: 'artist'}
            I'm an Artist
        %menu
          %li
            %a{ href: '#' } DeviantArt

      %section.user-role.photographs
        %h2
          %a{ name: 'photographer' }
            I'm a Photographer
        %menu
          %li
            %a{ href: '#' } Instagram
          %li
            %a{ href: '#' } Flickr
          %li
            %a{ href: '#' } Picasa

      %section.user-role.gamer
        %h2
          %a{ name: 'gamer' }
            I'm a Gamer
        %menu
          %li
            %a{ href: '#' } Steam
          %li
            %a{ href: '#' } Platstation

      %section.user-role.blogger
        %h2
          %a{ name: 'blogger' }
            I'm a Blogger
        %menu
          %li
            %a{ href: '#' } Twitter
          %li
            %a{ href: '#' } Posterous

      %section.profiles
        %h2 Profiles
        %menu
          %li
            %a{ href: '#' } Facebook
          %li
            %a{ href: '#' } LinkedIn

      %section.contact
        %h2 Contact
        %menu
          %li
            %a{ href: '#' } matthijs.groen@gmail.com
          %li
            %a{ href: '#' } +31 6 28 61 06 28
          %li
            %a{ href: '#' } @matthijsgroen

      %footer
        .vcard
          %button Download vCard

